<!-- CONTENEDOR DE LOS ELEMENTOS QUE CON TIENE LA BASE DE DATOS -->
<h2   style="margin: auto; width: 95%;text-align: center;">
    Proceso Exitoso</h2> <br>


 

<!-- BOTOM DE A;ADIR ELEMENTO  -->

<div style="padding-bottom: 5px;" class="d-grid gap-">
    <button type="button" class="btn btn-success  "  routerLink="/materia-prima" >Ingredientes </button>
</div>
<div style="padding-bottom: 5px;" class="d-grid gap-">
    <button type="button" class="btn btn-success  "  routerLink="/proveedores" >Productos</button>
</div>
<div style="padding-bottom: 5px;" class="d-grid gap-">
    <button type="button" class="btn btn-success  " routerLink="/clientes">Pedidos</button>
</div>
 

 