/* agregar elemento */

.errTem {
    display: none;
    color: red;
}

.valTem {
    display: none;
    color: green;
}

.errCem {
    display: none;
    color: red;
}

.valCem {
    display: none;
    color: green;
}

.errNem {
    display: none;
    color: red;
}

.valNem {
    display: none;
    color: green;
}

.errCorr {
    display: none;
    color: red;
}

.valCorr {
    display: none;
    color: green;
}

.errC {
    display: none;
    color: red;
}

.valC {
    display: none;
    color: green;
}

.errN {
    display: none;
    color: red;
}

.valN {
    display: none;
    color: green;
}

.errCel {
    display: none;
    color: red;
}

.valCel {
    display: none;
    color: green;
}

.errP {
    display: none;
    color: red;
}

.valP {
    display: none;
    color: green;
}

.errCa {
    display: none;
    color: red;
}

.errCed {
    display: none;
    color: red;
}

.valCed {
    display: none;
    color: green;
}

.valCa {
    display: none;
    color: green;
}

.errI {
    display: none;
    color: red;
}

.valI {
    display: none;
    color: green;
}

/* editar elemento */

.errTemEd {
    display: none;
    color: red;
}

.valTemEd {
    display: none;
    color: green;
}

.errCemEd {
    display: none;
    color: red;
}

.valCemEd {
    display: none;
    color: green;
}

.errNemEd {
    display: none;
    color: red;
}

.valNemEd {
    display: none;
    color: green;
}

.errCorrEd {
    display: none;
    color: red;
}

.valCorrEd {
    display: none;
    color: green;
}

.errCEd {
    display: none;
    color: red;
}

.valCEd {
    display: none;
    color: green;
}

.errCEdula {
    display: none;
    color: red;
}

.valCEdula {
    display: none;
    color: green;
}

.errCelEd {
    display: none;
    color: red;
}

.valCelEd {
    display: none;
    color: green;
}

.errNEd {
    display: none;
    color: red;
}

.valNEd {
    display: none;
    color: green;
}

.errPEd {
    display: none;
    color: red;
}

.valPEd {
    display: none;
    color: green;
}

.errCaEd {
    display: none;
    color: red;
}

.valCaEd {
    display: none;
    color: green;
}

.errIEd {
    display: none;
    color: red;
}

.valIEd {
    display: none;
    color: green;
}

.imprimirPDF {
    display: none;
}

.hide-link {
    display: none;
}

@import "../navigation/navigation.component.css";
@import "../footer/footer.component.css";


@media print {

    /* Ocultar botones */
    .imprimirPDF {
        display: block;
        position: relative;
        top: 400;
        z-index: 100;
    }

    .ocultarcontent {
        display: none;
    }

    nav {
        display: none;
    }




}