<!-- sCONTENEDOR DE LOS ELEMENTOS QUE CON TIENE LA BASE DE DATOS -->
<h2 class="ocultarcontent" style=" margin: auto; width: 95%;text-align: center;">Pedidos</h2> <br>

<div class="row-md-3 imprimirPDF">
    <h3 class="text-center">Pedidos - reporte</h3>
    <h3></h3>
    <p>Numero de Documento: {{ codigo }}</p>
    <p>La fecha actual es: {{ fechaActual.toLocaleDateString('es-ES') }}</p>
</div>


<div class="row-md-3 printable ocultarcontent" *ngFor="let proveedores of proveedoresArr">

    <div class="row-md-1">
        <div class="card mb-3" style="margin: auto; width: 95%;">
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">PRODUCTO: &nbsp; - {{proveedores.NombreApellido}} -</h5>

                        <p class="card-text"><b>Numero de Orden: </b>{{proveedores.id}} </p>
                        <p class="card-text"><b>Codigo: </b>{{proveedores.codigo}} </p>
                        <p class="card-text"><b>Cantidad:</b> {{proveedores.Cedula}} </p>
                        <p class="card-text"><b>Precio: </b>{{proveedores.NumeroCelular}}</p>



                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-success me-md-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                (click)="get_MP(proveedores.id)">Editar</button>


                            <button type="button" class="btn btn-danger me-md-2" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" (click)="get_MP(proveedores.id)">
                                Eliminar
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container imprimirPDF">
    <table class="table text-center  ">
        <thead class="table-dark">
            <tr>
                <th>Nnumero de Orden</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Cantidad</th>
                <th>Precio</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proveedores of proveedoresArr">
                <td>{{ proveedores.id }}</td>
                <td>{{ proveedores.NombreApellido }}</td>
                <td>{{ proveedores.codigo }}</td>
                <td>{{ proveedores.Cedula }}</td>
                <td>{{ proveedores.NumeroCelular }}</td>

            </tr>
        </tbody>
    </table>

</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro de eliminar este Pedido?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-danger me-md-2" type="button" (click)="deleteMP(provee.id)"
                    data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<!-- BOTOM DE A;ADIR ELEMENTO  -->
<div style="padding-bottom: 5px;" class="d-grid gap-">
    <button type="button" class="btn btn-success ocultarcontent" data-bs-toggle="modal" data-bs-target="#exampleModal2"
        data-bs-whatever="@mdo" (click)="reset()">Añadir Orden</button>
</div>
<div class="d-grid gap-3">

    <button type="button" class="btn btn-secondary ocultarcontent " (click)="imprimir()"
        download="Materia_Prima.pdf">Imprimir</button>
</div>



<!-- FORULARIO DE EDITAR DATOS DEL ELEMENTO -->

<form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">EDITAR PEDIDO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                     

                    <div class="mb-3">
                        <label for="Codigo" class="col-form-label">Codigo:</label>
                        <input type="text" class="form-control" id="Codigo" required [(ngModel)]="provee.codigo"
                            name="Codigo" (blur)="provee.codigo && validarCodigoAlertaEd(provee.codigo) "
                            placeholder="AB123">

                        <div class="errCEd"> Ingrese un Codigo valido </div>
                        <div class="valCEd">Codigo valido</div>
                    </div>

                    <div class="mb-3">
                        <label for="Cedula" class="col-form-label">Cantidad:</label>
                        <input type="text" class="form-control" id="Cedula" required [(ngModel)]="provee.Cedula"
                            name="Cedula" (blur)="provee.Cedula && validarCedulaAlertaEd(provee.Cedula) "
                            placeholder="Numero de maximo 5 digitos">
                        <div class="errCEdula"> Ingrese una Cantidad valida </div>
                        <div class="valCEdula">Cantidad valida</div>

                    </div>

                    <div class="mb-3">
                        <label for="NumeroCelular" class="col-form-label">Precio:</label>
                        <input type="text" class="form-control" id="Precio" required [(ngModel)]="provee.NumeroCelular"
                            name="NumeroCelular"
                            (blur)="provee.NumeroCelular && validarCelularAlertaEd(provee.NumeroCelular) "
                            placeholder="USD">
                        <div class="errCelEd">Ingrese un Precio valido </div>
                        <div class="valCelEd">Precio valido</div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="  reset() ">Cerrar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="updateMP(provee.id)"
                        (click)="reset()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const recipient = button.getAttribute('data-bs-whatever')
        const modalTitle = exampleModal.querySelector('.modal-title')
        const modalBodyInput = exampleModal.querySelector('.modal-body input')
        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
    })
</script>


<!-- FORMULARIO DE AÑADIR PRODUCTO -->
<form>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Pedido</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="NombreApellido" class="col-form-label">PRODUCTO: -- </label>
                        <select id="NombreApellido" name="NombreApellido" class="form-select" [(ngModel)]="provee.NombreApellido" required="">

                             
                            <option *ngFor="let cliente of clientesArr" [value]="cliente.nombresCliente">
                                {{cliente.nombresCliente}}</option>
                        </select>

                    </div>

                    <div class="mb-3">
                        <label for="Codigo" class="col-form-label">Codigo:</label>
                        <input type="text" class="form-control" id="Codigo" required [(ngModel)]="provee.codigo"
                            name="Codigo" (blur)="provee.codigo && validarCodigoAlerta(provee.codigo) "
                            placeholder="AB123">

                        <div class="errC"> Ingrese un Codigo valido </div>
                        <div class="valC">Codigo valido</div>
                    </div>

                    <div class="mb-3">
                        <label for="Cedula" class="col-form-label">Cantidad:</label>
                        <input type="text" class="form-control" id="Cedula" required [(ngModel)]="provee.Cedula"
                            name="Cedula" (blur)="provee.Cedula && validarCedulaAlerta(provee.Cedula) "
                            placeholder="Numero de maximo 5 digitos">
                        <div class="errCed"> Ingrese una Cantidad valida </div>
                        <div class="valCed">Cantidad valida</div>

                    </div>

                    <div class="mb-3">
                        <label for="NumeroCelular" class="col-form-label">Precio:</label>
                        <input type="text" class="form-control" id="Precio" required [(ngModel)]="provee.NumeroCelular"
                            name="NumeroCelular"
                            (blur)="provee.NumeroCelular && validarCelularAlerta(provee.NumeroCelular) "
                            placeholder="USD">
                        <div class="errCel">Ingrese un Precio valido </div>
                        <div class="valCel">Precio valido</div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="  saveNewMP()"
                        routerLink="/producto-terminado">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>



<script>const exampleModal2 = document.getElementById('exampleModal2')
    exampleModal2.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const recipient = button.getAttribute('data-bs-whatever')
        const modalTitle = exampleModal2.querySelector('.modal-title')
        const modalBodyInput = exampleModal2.querySelector('.modal-body input')
        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
    })
</script>