<!-- CONTENEDOR DE LOS ELEMENTOS QUE CON TIENE LA BASE DE DATOS -->
<h2 class="ocultarcontent" style=" margin: auto; width: 95%;text-align: center;">Materia Prima</h2> <br>
 
<div class="row-md-3 imprimirPDF" >
    <h3 class="text-center">Materia prima - reporte</h3>
    <h3></h3>
    <p>Numero de Documento: {{ codigo }}</p>
    <p>La fecha actual es: {{ fechaActual.toLocaleDateString('es-ES') }}</p>
    
</div>

<div class="row-md-3 printable ocultarcontent" *ngFor="let materia_prima of materias_primasArr">

    <div class="row-md-1">
        <div class="card mb-3" style="margin: auto; width: 95%;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{materia_prima.imagen}}" class="img-fluid rounded-start" alt="..." width="200">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{materia_prima.nombre}}</h5>
                        <p class="card-text"> Codigo: {{materia_prima.codigo}} </p>
                        <p class="card-text">Precio: {{materia_prima.precio}} USD</p>
                        <p class="card-text">Cantidad: {{materia_prima.cantidad}} - {{materia_prima.unidad_medida}} </p>

                        <p class="card-text"><small class="text-muted">Fecha de ingreso :
                                {{materia_prima.fecha_ingreso}} &nbsp;&nbsp;&nbsp;&nbsp; Fecha de caducidad
                                :{{materia_prima.fecha_caducidad}}</small></p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-success me-md-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                (click)="get_MP(materia_prima.id)">Editar</button>
                            <!-- <button class="btn btn-danger me-md-2" type="button"
                                (click)="deleteMP(materia_prima.id)">Eliminar</button>-->

                            <button type="button" class="btn btn-danger me-md-2" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" (click)="get_MP(materia_prima.id)">
                                Eliminar
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container imprimirPDF">
    <table class="table text-center  ">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Unidad de Medida</th>
                <th>Fecha de ingresp</th>
                <th>Fecha de caducidad</th>
                 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materia_prima of materias_primasArr">
                <td>{{ materia_prima.id }}</td>
                <td>{{ materia_prima.codigo }}</td>
                <td>{{ materia_prima.nombre }}</td>
                <td>{{ materia_prima.precio }}</td>
                <td>{{ materia_prima.cantidad }}</td>
                <td>{{ materia_prima.unidad_medida }}</td>
                <td>{{ materia_prima.fecha_ingreso }}</td>
                <td>{{ materia_prima.fecha_caducidad }}</td>

            </tr>
        </tbody>
    </table>

</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro de eliminar este elemento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-danger me-md-2" type="button" (click)="deleteMP(mateiraP.id)"
                    data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>


<!-- BOTOM DE AÑADIR ELEMENTO E IMPRIMIR LA PAGINA -->
<div style="padding-bottom: 5px;" class="d-grid gap-">
    <button type="button" class="btn btn-success ocultarcontent" data-bs-toggle="modal"
        data-bs-target="#exampleModal2" data-bs-whatever="@mdo" (click)="reset()">Añadir Ingrediente</button>
</div>
<div class="d-grid gap-3">
    
    <button type="button" class="btn btn-secondary ocultarcontent " (click)="imprimir()" download="Materia_Prima.pdf">Imprimir</button>
</div>







<!-- FORULARIO DE EDITAR DATOS DEL ELEMENTO -->

<form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">EDITAR ELEMENTO</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Codigo" class="col-form-label">Codigo:</label>
                        <input type="text" class="form-control" id="Codigo" autofocus required
                            [(ngModel)]="mateiraP.codigo" name="Codigo"
                            (blur)="mateiraP.codigo && validarCodigoAlertaEd(mateiraP.codigo) " placeholder="AB123">
                        <div class="errCEd"> Ingrese un codigo valido </div>
                        <div class="valCEd">Codigo valido</div>

                    </div>
                    <div class="mb-3">
                        <label for="Nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="Nombre" required [(ngModel)]="mateiraP.nombre"
                            name="Nombre" (blur)="mateiraP.nombre && validarNombreAlertaEd(mateiraP.nombre) "
                            placeholder="Nombre del elemento">
                        <div class="errNEd"> Ingrese un Nombre valido </div>
                        <div class="valNEd">Nombre valido</div>
                    </div>
                    <div class="mb-3">
                        <label for="Precio" class="col-form-label">Precio:</label>
                        <input type="text" class="form-control" id="Precio" required [(ngModel)]="mateiraP.precio"
                            name="Precio" (blur)="mateiraP.precio && validarPrecioAlertaEd(mateiraP.precio) "
                            placeholder="USD">
                        <div class="errPEd"> Ingrese una cantidad de dinero en con decimales </div>
                        <div class="valPEd">Formato correcto</div>
                    </div>
                    <div class="form-group">
                        <label for="UnidadM">Unidad de Medida</label>
                        <select id="UnidadM" name="UnidadM" class="form-select" [(ngModel)]="mateiraP.unidad_medida"
                            required>
                            <option selected>...</option>
                            <option value="kg">Kg</option>
                            <option value="lt">Lt</option>
                            <option value="oz">oz</option>


                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Cantidad" class="col-form-label">Cantidad:</label>
                        <input type="text" class="form-control" id="Cantidad" required [(ngModel)]="mateiraP.cantidad"
                            name="Cantidad" (blur)="mateiraP.cantidad&& validarCantidadAlertaEd(mateiraP.cantidad) "
                            placeholder="Cantidad de elementos existentes">
                        <div class="errCaEd"> Ingrese un numero entero </div>
                        <div class="valCaEd">Cantidad correcta</div>

                    </div>
                    <div class="form-row row g-3">
                        <div class="form-group col-md-6">
                            <label for="FechaI" class="col-form-label">Fecha de ingreso:</label>
                            <input type="date" class="form-control" id="FechaI" required
                                [(ngModel)]="mateiraP.fecha_ingreso" name="FechaI">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="FechaC" class="col-form-label">Fecha de caducidad:</label>
                            <input type="date" class="form-control" id="FechaC" required
                                [(ngModel)]="mateiraP.fecha_caducidad" name="FechaC">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Imagen" class="col-form-label">Imagen</label>
                        <input type="url" class="form-control" id="Imagen" required [(ngModel)]="mateiraP.imagen"
                            name="Imagen" (blur)="mateiraP.imagen && validarImagenAlertaEd(mateiraP.imagen) "
                            placeholder="https://...">
                        <div class="errIEd"> Ingrese la url de la imagen del elemento </div>
                        <div class="valIEd">URL valida</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="  reset() ">Cerrar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        (click)="updateMP(mateiraP.id)" (click)="reset()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const recipient = button.getAttribute('data-bs-whatever')
        const modalTitle = exampleModal.querySelector('.modal-title')
        const modalBodyInput = exampleModal.querySelector('.modal-body input')
        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
    })
</script>


<!-- FORMULARIO DE AÑADIR PRODUCTO -->

<form>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Materia Prima</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="Codigo" class="col-form-label">Codigo:</label>
                        <input type="text" class="form-control" id="Codigo" required [(ngModel)]="mateiraP.codigo"
                            name="Codigo" (blur)="mateiraP.codigo && validarCodigoAlerta(mateiraP.codigo) "
                            placeholder="AB123">

                        <div class="errC"> Ingrese un codigo valido </div>
                        <div class="valC">Codigo valido</div>

                    </div>



                    <div class="mb-3">
                        <label for="Nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="Nombre" required [(ngModel)]="mateiraP.nombre"
                            name="Nombre" (blur)="mateiraP.nombre && validarNombreAlerta(mateiraP.nombre) "
                            placeholder="Nombre del elemento">
                        <div class="errN"> Ingrese un Nombre valido </div>
                        <div class="valN">Nombre valido</div>

                    </div>

                    <div class="mb-3">
                        <label for="Precio" class="col-form-label">Precio:</label>
                        <input type="text" class="form-control" id="Precio" required [(ngModel)]="mateiraP.precio"
                            name="Precio" (blur)="mateiraP.precio && validarPrecioAlerta(mateiraP.precio) "
                            placeholder="USD">
                        <div class="errP"> Ingrese una cantidad de dinero en con decimales </div>
                        <div class="valP">Formato correcto</div>

                    </div>

                    <div class="form-group">
                        <label for="UnidadM">Unidad de Medida</label>
                        <select id="UnidadM" name="UnidadM" class="form-select" [(ngModel)]="mateiraP.unidad_medida"
                            required>

                            <option value="kg">Kg</option>
                            <option value="lt">Lt</option>
                            <option value="oz">oz</option>
                            <option selected value="...">Seleccione la unidad en de medida</option>

                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="Cantidad" class="col-form-label">Cantidad:</label>
                        <input type="text" class="form-control" id="Cantidad" required [(ngModel)]="mateiraP.cantidad"
                            name="Cantidad" (blur)="mateiraP.cantidad&& validarCantidadAlerta(mateiraP.cantidad) "
                            placeholder="Cantidad de elementos existentes">
                        <div class="errCa"> Ingrese un numero entero </div>
                        <div class="valCa">Cantidad correcta</div>

                    </div>

                    <div class="form-row row g-3">
                        <div class="form-group col-md-6">
                            <label for="FechaI" class="col-form-label">Fecha de ingreso:</label>
                            <input type="date" class="form-control" id="FechaI" required
                                [(ngModel)]="mateiraP.fecha_ingreso" name="FechaI">
                        </div>


                        <div class="form-group col-md-6">
                            <label for="FechaC" class="col-form-label">Fecha de caducidad:</label>
                            <input type="date" class="form-control" id="FechaC" required
                                [(ngModel)]="mateiraP.fecha_caducidad" name="FechaC">


                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="Imagen" class="col-form-label">Imagen</label>
                        <input type="url" class="form-control" id="Imagen" required [(ngModel)]="mateiraP.imagen"
                            name="Imagen" (blur)="mateiraP.imagen && validarImagenAlerta(mateiraP.imagen) "
                            placeholder="https://...">
                        <div class="errI"> Ingrese la url de la imagen del elemento </div>
                        <div class="valI">URL valida</div>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)=" reset()">Cerrar</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                        (click)="  saveNewMP()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>const exampleModal2 = document.getElementById('exampleModal2')
    exampleModal2.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const recipient = button.getAttribute('data-bs-whatever')
        const modalTitle = exampleModal2.querySelector('.modal-title')
        const modalBodyInput = exampleModal2.querySelector('.modal-body input')
        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
    })
</script>