.errC{
    display: none;
    color: red;
}
.valC{
    display: none;
    color: green;
}

.errN{
    display: none;
    color: red;
}
.valN{
    display: none;
    color: green;
}

.errP{
    display: none;
    color: red;
}
.valP{
    display: none;
    color: green;
}

.errCa{
    display: none;
    color: red;
}
.valCa{
    display: none;
    color: green;
}

.errI{
    display: none;
    color: red;
}
.valI{
    display: none;
    color: green;
}


 