<!-- CONTENEDOR DE LOS ELEMENTOS QUE CON TIENE LA BASE DE DATOS -->
<h2 class="ocultarcontent" style=" margin: auto; width: 95%;text-align: center;">Clientes</h2> <br>

<div class="row-md-3 imprimirPDF">
    <h3 class="text-center">Clientes - reporte</h3>
    <h3></h3>
    <p>Numero de Documento: {{ codigo }}</p>
    <p>Fecha de emisión: {{ fechaActual.toLocaleDateString('es-ES') }}</p>
</div>
<div class="row-md-3 printable ocultarcontent" *ngFor="let cliente of clientesArr">

    <div class="row-md-1">
        <div class="card mb-3" style="margin: auto; width: 95%;">
            <div class="row g-0">
                <div class="col-md-10">
                    <div class="card-body">
                         <p class="card-text"> Cedula: {{cliente.cedulaCliente}} </p>
                        <p class="card-text"> Nombres: {{cliente.nombresCliente}} </p>
                        <p class="card-text"> Apellidos: {{cliente.apellidosCliente}} </p>
                        <p class="card-text"> Correo: {{cliente.correoCliente}} </p>
                        <p class="card-text"> Edad: {{cliente.edadCliente}} </p>
                        <p class="card-text"> Direccion: {{cliente.direccionCliente}} </p>
                        <p class="card-text"> Telefono: {{cliente.correoCliente}} </p>


                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-success me-md-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                (click)="get_MP(cliente.id)">Editar</button>
                            <!-- <button class="btn btn-danger me-md-2" type="button"
                                (click)="deleteMP(materia_prima.id)">Eliminar</button>-->

                            <button type="button" class="btn btn-danger me-md-2" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" (click)="get_MP(cliente.id)">
                                Eliminar
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container imprimirPDF">
    <table class="table text-center  ">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Edad</th>
                <th>Dirección</th>
                <th>Télefono</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let clientes of clientesArr">
                <td>{{ clientes.id }}</td>
                <td>{{ clientes.cedulaCliente }}</td>
                <td>{{ clientes.nombresCliente }}</td>
                <td>{{ clientes.apellidosCliente }}</td>
                <td>{{ clientes.correoCliente }}</td>
                <td>{{ clientes.edadCliente }}</td>
                <td>{{ clientes.direccionCliente }}</td>
                <td>{{ clientes.telefonoCliente }}</td>

            </tr>
        </tbody>
    </table>

</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro de eliminar este elemento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-danger me-md-2" type="button" (click)="deleteMP(clientes.id)"
                    data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>

<!--loqsea-->
<!-- BOTOM DE AÑADIR ELEMENTO E IMPRIMIR LA PAGINA -->

<div style="padding-bottom: 5px;" class="d-grid gap-">
    <button type="button" class="btn btn-success ocultarcontent" data-bs-toggle="modal"
        data-bs-target="#exampleModal2" data-bs-whatever="@mdo" (click)="reset()">Añadir Ingrediente</button>
</div>
<div class="d-grid gap-3">
    
    <button type="button" class="btn btn-secondary ocultarcontent " (click)="imprimir()" download="Materia_Prima.pdf">Imprimir</button>
</div>








<!-- FORULARIO DE EDITAR DATOS DEL ELEMENTO -->

<form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">EDITAR CLIENTE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Cedula" class="col-form-label">Cédula:</label>
                        <input type="text" class="form-control" id="Cedula" autofocus required
                            [(ngModel)]="clientes.cedulaCliente" name="Cedula"
                            (blur)="clientes.cedulaCliente && validarCedulaClienteAlertaED(clientes.cedulaCliente) "
                            placeholder="1758963458">

                        <div class="errCedED"> Ingrese una cédula válida </div>
                        <div class="valCedED">Cédula válida</div>

                    </div>
                    <div class="mb-3">
                        <label for="Nombres" class="col-form-label">Nombres:</label>
                        <input type="text" class="form-control" id="Nombres" required
                            [(ngModel)]="clientes.nombresCliente" name="Nombres"
                            (blur)="clientes.nombresCliente && validarNombreClienteAlertaED(clientes.nombresCliente) "
                            placeholder="Juan Andres">
                        <div class="errNcED"> Ingrese un Nombre válido </div>
                        <div class="valNcED">Nombre válido</div>
                    </div>
                    <div class="mb-3">
                        <label for="Apellidos" class="col-form-label">Apellidos:</label>
                        <input type="text" class="form-control" id="Apellidos" required
                            [(ngModel)]="clientes.apellidosCliente" name="Apellidos"
                            (blur)="clientes.apellidosCliente && validarApellidoClienteAlertaED(clientes.apellidosCliente) "
                            placeholder="Montalvo Perez">
                        <div class="errApED"> Apellido no válido</div>
                        <div class="valApED"> Apellido Válido</div>
                    </div>

                    <div class="mb-3">
                        <label for="Correo" class="col-form-label">Correo:</label>
                        <input type="text" class="form-control" id="Correo" required
                            [(ngModel)]="clientes.correoCliente" name="Correo"
                            (blur)="clientes.correoCliente && validarCorreoClienteAlertaED(clientes.correoCliente) "
                            placeholder="example@gmail.com">
                        <div class="errCrrED"> Correo Incorrecto </div>
                        <div class="valCrrED">Correo Actualizado Correctamente</div>

                    </div>
                    <div class="mb-3">
                        <label for="Edad" class="col-form-label">Edad:</label>
                        <input type="text" class="form-control" id="Edad" required [(ngModel)]="clientes.edadCliente"
                            name="Edad"
                            (blur)="clientes.edadCliente && validarEdadClienteAlertaED(clientes.edadCliente) "
                            placeholder="25">
                        <div class="errEddED"> Formato de edad Incorrecto </div>
                        <div class="valEddED">Edad Actualizada Correctamente</div>

                    </div>
                    <div class="mb-3">
                        <label for="Direccion" class="col-form-label">Direccion:</label>
                        <input type="text" class="form-control" id="Direccion" required
                            [(ngModel)]="clientes.direccionCliente" name="Direccion"
                            
                            placeholder="Calle Primaria y Calle Secundaria ">
                        <!-- <div class="errDirED"> Formato de Direccion Incorrecta </div>
                        <div class="valDirED">Direccion Actualizada Correctamente</div> -->

                    </div>
                    <div class="mb-3">
                        <label for="Telefono" class="col-form-label">Telefono:</label>
                        <input type="text" class="form-control" id="Telefono" required
                            [(ngModel)]="clientes.telefonoCliente" name="Telefono"
                            (blur)="clientes.telefonoCliente && validarTelefonoClienteAlertaED(clientes.telefonoCliente) "
                            placeholder=" 0985265454 ">
                        <div class="errTelED"> Formato de telefono Incorrecta </div>
                        <div class="valTelED">Télefono Actualizado Correctamente</div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)="  reset() ">Cerrar</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="updateMP(clientes.id)" (click)="reset()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const recipient = button.getAttribute('data-bs-whatever')
        const modalTitle = exampleModal.querySelector('.modal-title')
        const modalBodyInput = exampleModal.querySelector('.modal-body input')
        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
    })
</script>


<!-- FORMULARIO DE AÑADIR PRODUCTO -->

<form>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="Cedula" class="col-form-label">Cédula:</label>
                        <input type="text" class="form-control" id="Cedula" required
                            [(ngModel)]="clientes.cedulaCliente" name="Cedula"
                            (blur)="clientes.cedulaCliente && validarCedulaClienteAlerta(clientes.cedulaCliente) "
                            placeholder="1758728469">

                        <div class="errCed"> Ingrese una cedula válida </div>
                        <div class="valCed">Cédula válida</div>

                    </div>



                    <div class="mb-3">
                        <label for="Nombres" class="col-form-label">Nombres:</label>
                        <input type="text" class="form-control" id="Nombre" required
                            [(ngModel)]="clientes.nombresCliente" name="Nombres"
                            (blur)="clientes.nombresCliente && validarNombreClienteAlerta(clientes.nombresCliente) "
                            placeholder="Juan Andres">
                        <div class="errNc"> Ingrese un Nombre válido </div>
                        <div class="valNc">Nombres válidos</div>

                    </div>

                    <div class="mb-3">
                        <label for="Apellidos" class="col-form-label">Apellidos:</label>
                        <input type="text" class="form-control" id="Apellidos" required
                            [(ngModel)]="clientes.apellidosCliente" name="Apellidos"
                            (blur)="clientes.apellidosCliente && validarApellidoClienteAlerta(clientes.apellidosCliente) "
                            placeholder="Montalvan Perez">
                        <div class="errAp"> Apellidos no válidos </div>
                        <div class="valAp"> Apellidos Ingresados Correctamente</div>

                    </div>


                    <div class="mb-3">
                        <label for="Correo" class="col-form-label">Correo:</label>
                        <input type="text" class="form-control" id="Correo" required
                            [(ngModel)]="clientes.correoCliente" name="Correo"
                            (blur)="clientes.correoCliente && validarCorreoClienteAlerta(clientes.correoCliente) "
                            placeholder="example@hotmail.es">
                        <div class="errCrr"> Ingrese un correo electronico válido </div>
                        <div class="valCrr">Correo electronico ingresado correctamente </div>

                    </div>

                    <div class="mb-3">
                        <label for="Edad" class="col-form-label">Edad:</label>
                        <input type="text" class="form-control" id="Edad" required [(ngModel)]="clientes.edadCliente"
                            name="Edad" (blur)="clientes.edadCliente && validarEdadClienteAlerta(clientes.edadCliente) "
                            placeholder="18">
                        <div class="errEdd"> Formato de Edad Incorrecto </div>
                        <div class="valEdd"> Edad ingresada correctamente </div>

                    </div>
                    <div class="mb-3">
                        <label for="Direccion" class="col-form-label">Dirección:</label>
                        <input type="text" class="form-control" id="Direccion" required
                            [(ngModel)]="clientes.direccionCliente" name="Direccion"
                            (blur)="clientes.direccionCliente && validarDireccionClienteAlerta(clientes.direccionCliente) "
                            placeholder="Calle Primaria y Calle Secundaria">
                        <div class="errDir"> Formato de Dirección no válido </div>
                        <div class="valDir"> Dirección ingresada correctamente </div>

                    </div>
                    <div class="mb-3">
                        <label for="Telefono" class="col-form-label">Télefono:</label>
                        <input type="text" class="form-control" id="Telefono" required
                            [(ngModel)]="clientes.telefonoCliente" name="Telefono"
                            (blur)="clientes.telefonoCliente && validarTelefonoClienteAlerta(clientes.telefonoCliente) "
                            placeholder="0968524785">
                        <div class="errTel"> Formato de télefono no válido </div>
                        <div class="valTel"> Télefono ingresado correctamente </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)=" reset()">Cerrar</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="  saveNewMP()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>const exampleModal2 = document.getElementById('exampleModal2')
    exampleModal2.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const recipient = button.getAttribute('data-bs-whatever')
        const modalTitle = exampleModal2.querySelector('.modal-title')
        const modalBodyInput = exampleModal2.querySelector('.modal-body input')
        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
    })
</script>