/* agregar elemento */
.errCed {
    display: none;
    color: red;
}

.valCed {
    display: none;
    color: green;
}

.errNc {
    display: none;
    color: red;
}

.valNc {
    display: none;
    color: green;
}

.errAp {
    display: none;
    color: red;
}

.valAp {
    display: none;
    color: green;
}

.errCrr {
    display: none;
    color: red;
}

.valCrr {
    display: none;
    color: green;
}

.errEdd {
    display: none;
    color: red;
}

.valEdd {
    display: none;
    color: green;
}
.errDir {
    display: none;
    color: red;
}

.valDir {
    display: none;
    color: green;
}
.errTel {
    display: none;
    color: red;
}

.valTel {
    display: none;
    color: green;
}

/* editar elemento */

.errCedED {
    display: none;
    color: red;
}

.valCedED {
    display: none;
    color: green;
}

.errNcED {
    display: none;
    color: red;
}

.valNcED {
    display: none;
    color: green;
}

.errApED {
    display: none;
    color: red;
}

.valApED {
    display: none;
    color: green;
}

.errCrrED {
    display: none;
    color: red;
}

.valCrrED {
    display: none;
    color: green;
}

.errEddED {
    display: none;
    color: red;
}

.valEddED {
    display: none;
    color: green;
}
.errDirED {
    display: none;
    color: red;
}

.valDirED {
    display: none;
    color: green;
}
.errTelED {
    display: none;
    color: red;
}

.valTelED {
    display: none;
    color: green;
}

.imprimirPDF {
    display: none;
}

.hide-link {
    display: none;
}

@import "../navigation/navigation.component.css";
@import "../footer/footer.component.css";


@media print {

    /* Ocultar botones */
    .imprimirPDF {
        display: block;
        position: relative;
        top: 400;
        z-index: 100;
    }

    .ocultarcontent {
        display: none;
    }

    nav {
        display: none;
    }

     


}