<!-- CONTENEDOR DE LOS ELEMENTOS QUE CON TIENE LA BASE DE DATOS -->
<h2 class="ocultarcontent" style=" margin: auto; width: 95%;text-align: center;">Productos</h2> <br>

<div class="row-md-3 imprimirPDF">
    <h3 class="text-center">Productos - reporte</h3>
    <h3></h3>
    <p>Numero de Documento: {{ codigo }}</p>
    <p>Fecha de emisión: {{ fechaActual.toLocaleDateString('es-ES') }}</p>
</div>
<div class="row-md-3 printable ocultarcontent" *ngFor="let cliente of clientesArr">

    <div class="row-md-1">
        <div class="card mb-3" style="margin: auto; width: 95%;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{cliente.correoCliente}}" class="img-fluid rounded-start" alt="..." width="200">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">Nombre: {{cliente.nombresCliente}}</h5>
                        <p class="card-text"> <b>Codigo:</b> {{cliente.apellidosCliente}} </p>
                        <p class="card-text"><b> Cantidad:</b> {{cliente.edadCliente}} </p>
                        <p class="card-text"><b> Identificador:</b> {{cliente.id}} </p>


                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-success me-md-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                (click)="get_MP(cliente.id)">Editar</button> 

                            <button type="button" class="btn btn-danger me-md-2" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" (click)="get_MP(cliente.id)">
                                Eliminar
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container imprimirPDF">
    <table class="table text-center  ">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Cantidad</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let clientes of clientesArr">
                <td>{{ clientes.id }}</td>
                <td>{{ clientes.nombresCliente }}</td>
                <td>{{ clientes.apellidosCliente }}</td>
                <td>{{ clientes.edadCliente }}</td>

            </tr>
        </tbody>
    </table>

</div>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro de eliminar este elemento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-danger me-md-2" type="button" (click)="deleteMP(clientes.id)"
                    data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>

<!--loqsea-->
<!-- BOTOM DE AÑADIR ELEMENTO E IMPRIMIR LA PAGINA -->

<div style="padding-bottom: 5px;" class="d-grid gap-">
    <button type="button" class="btn btn-success ocultarcontent" data-bs-toggle="modal" data-bs-target="#exampleModal2"
        data-bs-whatever="@mdo" (click)="reset()">Añadir productos</button>
</div>
<div class="d-grid gap-3">

    <button type="button" class="btn btn-secondary ocultarcontent " (click)="imprimir()"
        download="Materia_Prima.pdf">Reporte de productos</button>
</div>








<!-- FORULARIO DE EDITAR DATOS DEL ELEMENTO -->

<form>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">EDITAR CLIENTE</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Nombres" class="col-form-label">Nombres:</label>
                        <input type="text" class="form-control" id="Nombre" required autofocus
                            [(ngModel)]="clientes.nombresCliente" name="Nombres"
                            (blur)="clientes.nombresCliente && validarNombreClienteAlertaED(clientes.nombresCliente) "
                            placeholder="Nombre Producto">
                        <div class="errNcED"> Ingrese un Nombre válido </div>
                        <div class="valNcED">Nombre válidos</div>

                    </div>

                    <div class="mb-3">
                        <label for="Apellidos" class="col-form-label">Codigo:</label>
                        <input type="text" class="form-control" id="Apellidos" required
                            [(ngModel)]="clientes.apellidosCliente" name="Apellidos"
                            (blur)="clientes.apellidosCliente && validarApellidoClienteAlertaED(clientes.apellidosCliente) "
                            placeholder="AB123">
                        <div class="errApED"> Codigo no válido </div>
                        <div class="valApED"> Codigo Ingresado Correctamente</div>

                    </div>




                    <div class="mb-3">
                        <label for="Edad" class="col-form-label">Cantidad:</label>
                        <input type="text" class="form-control" id="Edad" required [(ngModel)]="clientes.edadCliente"
                            name="Edad" (blur)="clientes.edadCliente && validarEdadClienteAlertaED(clientes.edadCliente) "
                            placeholder="1234">
                        <div class="errEddED"> Cantidad Incorrecta </div>
                        <div class="valEddED"> Cantidad ingresada correctamente </div>

                    </div>


                    <div class="mb-3">
                        <label for="Correo" class="col-form-label">Imagen:</label>
                        <input type="text" class="form-control" id="Correo" required
                            [(ngModel)]="clientes.correoCliente" name="Correo"
                            (blur)="clientes.correoCliente && validarCorreoClienteAlertaED(clientes.correoCliente) "
                            placeholder="https://...">
                        <div class="errCrrED"> Imagen Incorrecta </div>
                        <div class="valCrrED">Imagen Ingresada Correctamente</div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)="  reset() ">Cerrar</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="updateMP(clientes.id)" (click)="reset()" >Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const recipient = button.getAttribute('data-bs-whatever')
        const modalTitle = exampleModal.querySelector('.modal-title')
        const modalBodyInput = exampleModal.querySelector('.modal-body input')
        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
    })
</script>


<!-- FORMULARIO DE AÑADIR PRODUCTO -->

<form>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Nombres" class="col-form-label">Nombres:</label>
                        <input type="text" class="form-control" id="Nombre" required autofocus
                            [(ngModel)]="clientes.nombresCliente" name="Nombres"
                            (blur)="clientes.nombresCliente && validarNombreClienteAlerta(clientes.nombresCliente) "
                            placeholder="Nombre Producto">
                        <div class="errNc"> Ingrese un Nombre válido </div>
                        <div class="valNc">Nombre válidos</div>

                    </div>

                    <div class="mb-3">
                        <label for="Apellidos" class="col-form-label">Codigo:</label>
                        <input type="text" class="form-control" id="Apellidos" required
                            [(ngModel)]="clientes.apellidosCliente" name="Apellidos"
                            (blur)="clientes.apellidosCliente && validarApellidoClienteAlerta(clientes.apellidosCliente) "
                            placeholder="AB123">
                        <div class="errAp"> Codigo no válido </div>
                        <div class="valAp"> Codigo Ingresado Correctamente</div>

                    </div>




                    <div class="mb-3">
                        <label for="Edad" class="col-form-label">Cantidad:</label>
                        <input type="text" class="form-control" id="Edad" required [(ngModel)]="clientes.edadCliente"
                            name="Edad" (blur)="clientes.edadCliente && validarEdadClienteAlerta(clientes.edadCliente) "
                            placeholder="1234">
                        <div class="errEdd"> Cantidad Incorrecta </div>
                        <div class="valEdd"> Cantidad ingresada correctamente </div>

                    </div>


                    <div class="mb-3">
                        <label for="Correo" class="col-form-label">Imagen:</label>
                        <input type="text" class="form-control" id="Correo" required
                            [(ngModel)]="clientes.correoCliente" name="Correo"
                            (blur)="clientes.correoCliente && validarCorreoClienteAlerta(clientes.correoCliente) "
                            placeholder="https://...">
                        <div class="errCrr"> Imagen Incorrecta </div>
                        <div class="valCrr">Imagen Ingresada Correctamente</div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)=" reset()">Cerrar</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="  saveNewMP()" routerLink="/producto-terminado">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>const exampleModal2 = document.getElementById('exampleModal2')
    exampleModal2.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const recipient = button.getAttribute('data-bs-whatever')
        const modalTitle = exampleModal2.querySelector('.modal-title')
        const modalBodyInput = exampleModal2.querySelector('.modal-body input')
        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
    })
</script>